asgiref
contourpy
cycler
dj-database-url
dj-static
Django
django-bootstrap-form
django-extensions
django-filter
djangorestframework
et-xmlfile
fonttools
gunicorn
kiwisolver
matplotlib
numpy
openpyxl
packaging
pandas
Pillow
psycopg2-binary
pyparsing
python-dateutil
python-decouple
pytz
seaborn
six
sqlparse
static3